<div class="row clearfix">
 <% if todo_task.completed? %>
  <div class="complete">
    <%= link_to "Tâche réussit", complete_todo_list_todo_task_path(@todo_list, todo_task.id), method: :patch %>
  </div>
  <div class="todo_task">
    <p style="opacity: 0,4"><strike><%= todo_task.content %></strike></p>
  </div>
  <div class="trash">
    <%= link_to "Supprimer la tâche", todo_list_todo_task_path(@todo_list, todo_task.id), method: :delete, data: {confirm: "Etes-vous sur ?"} %>
  </div>
 <% else%>
   <div class="complete">
     <%= link_to "Tâche réussit",  complete_todo_list_todo_task_path(@todo_list, todo_task.id), method: :patch %>
   </div>
   <div class="todo_task">
     <p><%= todo_task.content %></p>
   </div>
   <div class="trash">
     <%= link_to "Supprimer la tâche", todo_list_todo_task_path(@todo_list, todo_task.id), method: :delete, data: {confirm: "Etes-vous sur ?"} %><br>
   </div>
   <% end %>
</div>
